@import './_vars.scss';
@import './_eyes.scss';
@import './_metrics.scss';
@import './_adtype.scss';
@import './_item.scss';
@import './_top-filters.scss';
@import './_modal.scss';
@import './_responsive.scss';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.no-pads > .MuiBox-root {
  padding: 0;
}

.spacing {
  padding: 0 10px;
}
#root {
  overflow-x: hidden;
}
a.canvasjs-chart-credit {
  display: none;
}

.hidden {
  display: none!important;
}
.visible-filters {
  padding-bottom: 20px !important;
}
.first-column {
  white-space: pre-wrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 155px !important;
  max-width: 155px !important;
  min-width: 155px !important;
}
.btn--more {
  margin-top: 20px !important;
}

.loading {
  width: 100%;
  position: relative;
  height: 100%;
  background: url(/images/loading.gif) hsla(0, 0%, 100%, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden-row {
    display: flex!important;
}

.facebook__table td {
    border-right: 1px solid #eee;
    text-align: center;
}


.ads-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 575px;
    overflow-y: overlay;
}


    

.facebook__table td:nth-child(2) {
    max-width: 60px;
    white-space: pre-wrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    border-left: 1px solid #eee;
}