#svg {
    position: fixed;
    width: 12%;
    height: 190px;
    left: 0;
    z-index: 99999;
    margin-top: -65px;
}
.eye-outer {
  fill: none;
    stroke: #fff;
    stroke-width: 5px;
}
.eye-inner {
  fill: #fff;
}


.filter-criteria {
  display: flex;
  align-items: center;
  padding: 16px 10px;
}
.no-pads > .MuiBox-root{
padding: 0;
}
.btn-search {
margin: 0 5px!important;
border: 1px solid #a9a9a9!important;
min-width: 100px;
}
.InputFromTo-to {
margin-right: 20px;
}
.filter-criteria input {
padding: 5px;
}
.spacing {
padding: 0 10px;
}
#root{
overflow-x: hidden;
}
a.canvasjs-chart-credit {
  display: none;
}


.metrics {
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px solid #c7c7c7;
}

.metrics > div {
  min-width: 90px;
}

.metrics--achieved {
  background-color: green;
  color: #fff;
}
.metrics--notachieved{
  background-color: rgba(230, 39, 39, 0.75);
  color: #fff;
}

.metrics__title--background{
  background-color: #2f3f99;
  color: #fff;
  padding: 4px;
  text-transform: capitalize;
  text-align: center;
  overflow: hidden!important;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.adtype{
  box-shadow: 0px 0px 3px 0px!important;
}
.adtype .MuiGrid-item {
  width: 100%;
}

.adtype:after {
  content: '';
  background-color: #3f51b5;
  position: relative;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 20px;
}
.adtype.GoogleSearch:after {
  content: 'SEARCH';
}
.adtype.Searchpartners:after {
  content: 'SEARCH PARTNERS';
}
.adtype.Content:after {
  content: 'DISPLAY';
}
.adtype.Cross-network:after {
  content: 'CROSS NETWORK';
}


.visible-filters {
  padding-bottom: 20px!important;
}
.first-column{
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    width: 155px!important;
    max-width: 155px!important;
    min-width: 155px!important;
}
@media screen and (max-width:480px){
    #svg {
        width: 24%;
        height: 104px;
        margin-top: -25px;
    }
    .filter-criteria {
      flex-direction: column;
      }
      .InputFromTo-to {
      margin-right: 0;
      margin-bottom: 15px;
      }
      .btn-search {
        margin-bottom: 7px!important;
      }
}